@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

#root {
  max-width: 1280px auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  font-family: "Arial", "Poppins", "sans-serif";
}

/* HomePage - Style */
.App {
  background-color: #67acfb92;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px;
}

.home-container {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.link-info {
  text-decoration: none;
  box-shadow: none;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

.welcome-container {
  padding-left: 30px;
  height: 10vh;
}

/* Login/SignUp - Style  */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 8px;
  background-color: #cadcf2;
}

h1 {
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="username"],
input[type="password"] {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: border-bottom-color 0.3s ease-in-out;
}

input[type="username"]:focus,
input[type="password"]:focus {
  outline: none;
  border-bottom-color: #0077ff;
}

input[type="submit"] {
  margin: 0 auto;
  margin-top: 16px;
  padding: 0;
  background-color: #0077ff;
  color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #0053ba;
}

p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Chats app Style */
.chats-app-container {
  background-color: rgb(40, 43, 54);
}

.back-button {
  background-color: rgb(40, 43, 54);
  font-size: 30px;
  padding: 10px;
  display: grid;
  place-content: center;
  transition: transform 0.3s ease;
  color: rgb(255, 0, 0);
  float: left;
  cursor: pointer;
}

/* Work Page Style */
.work-page-container {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.search-name-container {
  display: flex;
}

.name-container {
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgba(245, 245, 245, 0.913);
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  width: 286px;
  height: 50px;
}

.name-stack {
  display: flex;
}

.name {
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 40%;
  background-color: rgb(97, 168, 249);
  height: 30px;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.active {
  display: grid;
}

/* Detail style Page */
.detail-name-container {
  display: flex;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}