.form-container p{
    font-size: 1.5vw;
}
.form-input {
    height: 1vw;
    width: 7vw;
    border-radius: 0;
    margin-left: 1vw;
}

.form-container label, h1{
    font-family: 'Carlito', sans-serif;

}

.form-container h1{
    padding: 2vw;
}
.checkbox-labels{
    margin-right: 2vw;
}

.form-container form{
    margin-top:2vw;
    padding-bottom: 2vw;
    font-size: 1.5vw;
    display: inline-block;
}
.tab2, .tab3{
    display: none;
}

#prev {
    cursor: not-allowed;
}

.form-back-button {
    float: left;
    padding: 2vw;
    background-color: inherit;
    color: black;
}

.form-back-button:not(hover), .form-back-button:hover{
    transition: color .5s;
}

.form-back-button:hover{
    color: white;
}

.form-back-button:hover, #next{
    cursor: pointer;
}

.form-footer a{
    text-decoration: none;
}

.form-footer a:hover{
    color: rgb(54, 50, 50);
}
.form-footer{
    padding: 2vw;
}

.form-container button{
    width: 7vw;
    height: 4vw;
    margin: 2vw;
    font-size: 1.2vw;
}

