p{
    font-size: 1.5vw;
}
.form-input {
    height: 1vw;
    width: 7vw;
    border-radius: 0;
    margin-left: 1vw;
}

label, h1{
    font-family: 'Carlito', sans-serif;

}

.checkbox-labels{
    margin-right: 2vw;
}

form{
    margin-top:2vw;
    padding-bottom: 2vw;
    font-size: 1.5vw;
    display: inline-block;
}
