.sidebar-container {
  display: flex;
}

.sidebar {
  width: 40px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 16px;
}

.Logo {
  width: 40px;
  height: 40px;
  padding-top: 5px;
  transition: transform 0.3s ease;
}

.sidebar .top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: bold;
}

.sidebar .bars {
  font-size: 24px;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  padding-top: 30px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.icon:hover,
.Logo:hover {
  transform: scale(1.4);
}

.icon.active {
  transform: scale(1.4);
}

.icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  padding-left: 5px;
  display: grid;
  place-content: center;
  transition: transform 0.3s ease;
}

.name-container {
  margin-top: 20px;
  height: 45%;
  background-color: rgba(245, 245, 245, 0.913);
  border-radius: 8px;
  overflow: hidden;
}

.name-stack {
  margin-top: 10px;
}

.name {
  padding-top: 5px;
  margin-top: 5px;
  border-radius: 50%;
  background-color: rgb(97, 168, 249);
  height: 30px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.name-tip {
  position: absolute;
  height: 50px;
  width: 100px;
  margin-left: 20px;
  top: 31.5%;
  transform: translateX(-50%);
  background-color: rgb(111, 179, 211);
  color: #fff;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  display: none;
  place-items: center;
}

.name-tip::before {
  content: "";
  left: 50%;
  top: 100%;
  position: absolute;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
  border-color: rgba(81, 181, 211, 0.629) transparent transparent transparent;
}

.active{
  display: grid;
}