.sidebar-container {
  display: flex;
}

.sidebar {
  width: 40px;
  height: 100vh;
  background-color: #333333;
  color: #fff;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 16px;
}

.sidebar .top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: bold;
}

.sidebar .bars {
  font-size: 24px;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  padding-top: 30px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.Logo {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
  opacity: 1;
}

.icon:hover,
.Logo:hover {
  transform: scale(1.4);
}

.icon.active {
  transform: scale(1.4);
}

.icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  padding-left: 5px;
  display: grid;
  place-content: center;
  transition: transform 0.3s ease;
}
